# Set Date

In [1]:
import lib
from datetime import date, timedelta
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format

# last week's validation date 
from_date = date(2023, 7, 28)
# new week's date to work on
new_date = from_date + timedelta(days=3)
# check environment, if production it should return share drive path
lib.liquid.base_path

WindowsPath('S:/IT IRSR Shared/RedSwan/RedSwan/Master_bcIMC/LIQUID/Liquid')

# Download Data

In [2]:
df = lib.liquid.get_all_liquid_except_CIBC()
df['RiskDate'].unique()

array(['20230131'], dtype=object)

# CCP & Cash

In [2]:
lib.liquid.counter_party_check(new_date)

All counter party are mapped

# FUT
check month code in the link below <br>
https://en.wikipedia.org/wiki/Delivery_month

In [ ]:
(
    df
    .query("InstrumentTypeDesc.str.contains('Future')", engine='python')
    .query("securityName.str.contains('CAN 5YR BOND FUT')", engine='python')
    [["InstrumentTypeDesc","securityName","ExchangeId_Best","ExchangeId_BestType"]]
)

# EBS
get_superD_BTRSEQ function will read the data from BTRSEQ file in `new_date` folder
and create pivot summary view

In [3]:
lib.liquid.get_superD_BTRSEQ(new_date)

             External Trade ID      Volume
External ID
SW24043145                 353 72519675.62
SW24043146                 996 62745244.16
SW44375268                 436 29168176.88
SW44375278                 922 22649986.94

# EIS

In [2]:
issue_index = ['TRTSE60',
'dMITR00000NUS',
'MICNB00L0NCA',
'dMIKW00000NUS',
'MIZA00000NUS',
'MICNB00L0NCA',
'dMISAPz000NUS',
'dMIWQ00000GCA',
'dMIWQ00000GCA']

In [3]:
lib.liquid.get_index_map(issue_index, new_date)

,SEC_ID,ACC_SYS_SEC_ID,BENCHMARK_ID,INDEX_NAME,MSCI_RM_INDEX_ID
1062,70681121,SW35043093R,SP.MC.SPTSE,S&P/TSX 60 Index,TRTSE60
986,70656597,SW31956770R,MSCI.MC.MXTR,TURKEY,RMXTN3100159220
774,70605214,SW26634315R,MSCI.MC.716566,CHINA A INCLUSION,RMXTN3108739288
1199,70706741,SW38504173R,MSCI.MC.MSCI133713,KUWAIT,RMXTN3100157456
1005,70664562,SW32723005R,MSCI.MC.MXZA,SOUTH AFRICA,RMXTN3100159164
774,70605214,SW26634315R,MSCI.MC.716566,CHINA A INCLUSION,RMXTN3108739288
1018,70670361,SW33459255R,MSCI.MC.MSCI705405,SAUDI ARABIA,RMXTN3108148470
817,70611570,SW26991103R,MSCI.MC.MSCI996500,WORLD ex CANADA,RMXTG3108157876
817,70611570,SW26991103R,MSCI.MC.MSCI996500,WORLD ex CANADA,RMXTG3108157876

# EQOPT

# GBM

In [10]:
(
    df
    .query('ParentPortfolioCode.isnull()', engine='python')
    [['InstrumentTypeDesc','securityName','ExchangeId_Best','ExchangeId_BestType','BaseTotalMarketValue']].sort_values(['InstrumentTypeDesc','BaseTotalMarketValue'], ascending=[True,False])
)

,InstrumentTypeDesc,securityName,ExchangeId_Best,ExchangeId_BestType,BaseTotalMarketValue
3627,American Depository Receipt,SEA LTD-ADR,BYWD7L4,SEDOL,234443706.71
434,American Depository Receipt,TEVA PHARMACEUTICAL-SP ADR,2883878,SEDOL,-232710025.41
3053,American Depository Receipt,FUTU HOLDINGS LTD-ADR,BGK4T39,SEDOL,-232710025.41
1000,American Depository Receipt,SEA LTD-ADR,BYWD7L4,SEDOL,-2472323281.19
2020,American Depository Receipt,FUTU HOLDINGS LTD-ADR,BGK4T39,SEDOL,-2472323281.19
...,...,...,...,...,...
3463,Unit,APA GROUP,6247306,SEDOL,-232710025.41
3600,Unit,LENDLEASE GROUP,6512004,SEDOL,-232710025.41
915,Unit,HKT TRUST AND HKT LTD-SS,B4TXDZ3,SEDOL,-2472323281.19
2190,Unit,HK ELECTRIC INVESTMENTS -SS,BJ3WDZ1,SEDOL,-2472323281.19
2316,Unit,APA GROUP,6247306,SEDOL,-2472323281.19

In [5]:
(
    df
    .query('IssuerCode.str.contains("Municipal Finance Authority of British Columbia", na=False) & not BCIGicsSector.isnull()', engine='python')
    [['BCIGicsSector','InstrumentTypeDesc']]
    
)

         BCIGicsSector InstrumentTypeDesc
1268        Financials   Commercial Paper
1538        Financials   Commercial Paper
1607        Financials   Commercial Paper
1647   Government Debt     Municipal Bond
1661   Government Debt     Municipal Bond
1867   Government Debt     Municipal Bond
1902   Government Debt     Municipal Bond
4217   Government Debt     Municipal Bond
4480   Government Debt     Municipal Bond
4513   Government Debt     Municipal Bond
6378   Government Debt     Municipal Bond
6380   Government Debt     Municipal Bond
12008  Government Debt     Municipal Bond
12011  Government Debt     Municipal Bond

In [21]:
(
    df
    .query('LocalPriceCcyCode.str.contains("USD", na=False) & not RiskCountryCode.isnull()', engine='python')
    [['LocalPriceCcyCode','RiskCountryCode']]
    
)

      LocalPriceCcyCode RiskCountryCode
0                   USD              US
1                   USD              US
2                   USD              US
3                   USD              US
4                   USD              US
...                 ...             ...
20163               USD              US
20164               USD              US
20165               USD              US
20166               USD              US
20167               USD              US

[4569 rows x 2 columns]