In [1]:
import lib
from datetime import date, timedelta
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format

# last week's validation date 
from_date = date(2023, 8, 18)
# new week's date to work on
new_date = from_date + timedelta(days=7)
# check environment, if production it should return share drive path
lib.liquid.base_path

WindowsPath('S:/IT IRSR Shared/RedSwan/RedSwan/Master_bcIMC/LIQUID/Liquid')

In [2]:
lib.repo.get_sql_data(new_date)

,Valuation_date,BCI_underlyingCUSIP,counterparty,BCI_underlyingParAmount,InstrumentType,InstrumentTypeCode
0,20230825,68333ZAP2,CIBC,249999207.04,Reverse Repo,RR
1,20230825,68333ZAS6,BMO,80000000.00,Buy Sell Back,RR
2,20230825,74814ZFE8,BMO,42232000.00,Buy Sell Back,RR
3,20230825,110709GJ5,BMO,80000000.00,Buy Sell Back,RR
4,20230825,68333ZAT4,DSI,50080567.81,Reverse Repo,RR
...,...,...,...,...,...,...
72,20230825,11070TAG3,TD Bank,-8460000.00,Repurchase Agreement,REPO
73,20230825,563469UZ6,TD Bank,-33860000.00,Repurchase Agreement,REPO
74,20230825,651333GL4,TD Bank,-23321000.00,Repurchase Agreement,REPO
75,20230825,74814ZFL2,TD Bank,-2516000.00,Repurchase Agreement,REPO
76,20230825,803854KC1,TD Bank,-5420000.00,Repurchase Agreement,REPO