In [1]:
import lib
from lib import utils as ut
import pandas as pd
from datetime import date, timedelta
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')


# last week's validation date
from_date = date(2022, 11, 18)   
# new week's date to work on
new_date = from_date + timedelta(days=7)
lib.liquid.base_path

WindowsPath('c:/Users/CXimen/OneDrive - BCI/Documents/Liquid_Data_Production_Dev')

In [2]:
import xlwings as xw
xw.constants.PivotTableSourceType.xlDatabase

1

In [2]:
df_filter_group = lib.liquid.get_filter_group_data()

In [4]:
df_IFT = lib.liquid.get_ift_data(new_date)

In [22]:
df_filter_group.filter(like = "Mar")

,OnMargin,CorrectLocalMarketPrice,LatestClosingMarketPrice,LocalMarketPrice,BaseMarketValue,BaseTotalMarketValue,BaseTotalMarketValuePay,BaseTotalMarketValueRec,LocalMarketValue,LocalTotalMarketValue,LocalTotalMarketValuePay,LocalTotalMarketValueRec
0,None,-1.0,42474.3259,99.364455,NaN,2.686216e+08,NaN,NaN,9.936445e-01,2.686216e+08,NaN,NaN
1,None,-1.0,389262.6386,107.140442,NaN,-3.308735e+08,NaN,NaN,1.071404e+00,-3.308735e+08,NaN,NaN
2,None,-1.0,100.8290,100.829069,NaN,3.113826e+08,NaN,NaN,1.000000e+00,3.113826e+08,NaN,NaN
3,None,-1.0,100.7932,100.793205,NaN,-3.112719e+08,NaN,NaN,1.000000e+00,-3.112719e+08,NaN,NaN
4,None,-1.0,389262.6386,106.156312,NaN,1.553908e+08,NaN,NaN,1.061563e+00,1.553908e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16136,None,NaN,99.9999,1.000000,1.205654e+08,1.205654e+08,NaN,NaN,7.454868e+07,7.454868e+07,NaN,NaN
16137,None,NaN,100.0000,1.000000,-5.315437e+09,-5.315437e+09,NaN,NaN,-3.974901e+09,-3.974901e+09,NaN,NaN
16138,None,NaN,100.0000,1.000000,1.773070e+07,1.773070e+07,NaN,NaN,1.773070e+07,1.773070e+07,NaN,NaN
16139,None,NaN,98.3604,96.621972,1.170672e+07,1.191736e+07,NaN,NaN,1.170672e+07,1.191736e+07,NaN,NaN
16140,None,NaN,7501.0000,75.010000,4.934226e+08,4.934226e+08,NaN,NaN,3.689830e+08,3.689830e+08,NaN,NaN

In [19]:
dup = df_filter_group[df_filter_group["PositionId"].isin(df_IFT["PositionId"].values)]

In [28]:
df_filter_group[df_filter_group["PositionId"].isin(dup["PositionId"].values)][["PositionId","BaseTotalMarketValue"]].to_csv("main.csv")

In [25]:
df_IFT[df_IFT["PositionId"].isin(dup["PositionId"].values)][["PositionId","BaseTotalMarketValue"]]

           PositionId BaseTotalMarketValue
0   E0CDOR02_70669523          51439231.29
1   E0CDOR02_70669524          66639272.87
2   E0CDOR02_70673182         497308698.67
3   E0CDOR02_70673192         127471247.05
4   E0CDOR02_70673193          12171474.72
5   E0CDOR02_70681516          64339586.22
6   E0CDOR02_70681517          54476925.93
7   E0CDOR02_70682049          20781400.29
8   E0CDOR02_70683169          11335628.55
9   E0CDOR02_70687373         160387229.79
10  E0CDOR02_70694345           9763437.14
11  E0CDOR02_70694346          29774258.81
12  E0CDOR02_70705511          37154567.08
13  E0CDOR02_70713888          45520222.11
14  E0CDOR02_70714579          31131027.84
15  E0CDOR02_70715880           6753156.06
16  E0CDOR02_70715888           4409548.25
17  E0CDOR02_70715889             650341.8
18  E0CDOR02_70715890           2210078.06
19  E0CDOR02_70715891           3839052.15
20  E0CDOR02_70715933          17611827.81
21  E0CDOR02_70608774         252716643.84
22  E0CDOR02_70681772         502263390.41
23  E0CDOR02_70684912         300771534.25
24  E0CDOR02_70713896         501772054.79